.wageTable {
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  border-spacing: 0;
}

.wageTable tr td,
.wageTable tr th {
  padding: 10px 5px;
  border: 0px;
}

.wageTable tr:nth-child(odd) {
  background-color: #d3d3d3;
}

.wageTable tr:nth-child(even) {
  background-color: #ffffff;
}
